body,
#app {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
.map-container {
  height: 100%;
  width: 100%;
}

input[type='text'],
input[type='number'],
select {
  outline: none;
  border-radius: 4px;
  border: solid 1px gray;
  padding: 8px;
}
.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: blue;
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: calc(50% - 5px);
  border: none;
  background-color: rgb(229 229 255);
  color: blue;
  border-radius: 4px;
  height: 32px;
  cursor: pointer;
  &:hover,
  &.active {
    background-color: blue;
    color: white;
  }
}

.config-panel {
  height: 100%;
  width: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-size: 14px;
  line-height: 2;
  border-radius: 4px;
  box-shadow: 0 0 8px #ccc;
  backdrop-filter: blur(10px);
}
